 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0;
     background: url('https://wallpapercave.com/wp/wp2731873.jpg') no-repeat;
     background-size: 1920px 800px;
}
 h3 {
     color: white;
     text-align: center;
}
 h3 b {
     color: red;
}
 #gameCanvas {
     border: 2px solid black;
     background-image: url('https://i.imgur.com/XDqWaGX.png');
     background-size: 600px 400px;
     width: 600px;
     height: 400px;
     cursor: url('https://i.imgur.com/QQ75RTP.png') 16 16, auto;
}
 #resetButton {
     position: relative;
     margin-top: 20px;
     width: 600px;
     color: white;
     background-color: #3498eb;
     border: 3px solid rgba(0,0,0,.6);
     padding: 15px;
     cursor: pointer;
}
